<mat-sidenav-container>
  <mat-sidenav
    mode="push"
    (closedStart)="sideNavToggled()"
    [opened]="sideNavIsOpen$ | async"
  >
    <app-side-nav-content></app-side-nav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="sideNavToggled()" mat-icon-button>
        <mat-icon color="accent">menu</mat-icon>
      </button>
      <span class="app-title">{{title}}</span>
    </mat-toolbar>
    theres gonna be content here
  </mat-sidenav-content>
</mat-sidenav-container>
